<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<global-method-security pre-post-annotations="enabled" />

	<http use-expressions="true">
		<intercept-url pattern="/javax.faces.resource/**" filters="none" />
		<intercept-url pattern="/resources/**" filters="none" />
		<intercept-url pattern="/images/**" filters="none" />
		<intercept-url pattern="/login.jsf" access="permitAll" />
		<intercept-url pattern="/login.jsf*" access="hasAnyRole('ROLE_ADMIN','ROLE_VENDEDOR')" />
		<form-login login-processing-url="/j_spring_security_check"
			login-page="/login.jsf" default-target-url="/home.jsf"
			authentication-failure-url="/login.jsf" />
		<logout invalidate-session="true" logout-success-url="/" />
		<session-management invalid-session-url="/login.jsf" />
	</http>

	<authentication-manager>

		<!-- <authentication-provider> -->
		<!-- <user-service> -->
		<!-- <user name="hever" password="123456" authorities="Administrador" /> -->
		<!-- </user-service> -->
		<!-- </authentication-provider> -->

		<!-- <authentication-provider > -->
		<!-- <password-encoder hash="md5" /> -->
		<!-- <jdbc-user-service data-source-ref="dataSource" -->

		<!-- users-by-username-query=" -->
		<!-- select u.usuario, u.clave, u.estado from usuario u where u.usuario 
			= ? and u.estado = 'A' " -->

		<!-- authorities-by-username-query=" -->
		<!-- select u.usuario, r.nombre from usuario u, rol r where u.idRol = r.idRol 
			and u.usuario = ? " /> -->
		<!-- </authentication-provider> -->

		<authentication-provider ref="myAuthenticationProvider">
			<!-- <password-encoder hash="md5" /> -->
		</authentication-provider>

	</authentication-manager>

</beans:beans>
